{{ "<!-- Header -->" | safeHTML }}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="logo img-responsive" src="{{ .Site.BaseURL }}img/logo.png" alt="">
                <div>
                    {{ with .Site.Params.subtitle }}{{ . }}{{ end }}
                </div>
                <div class="follow">
                    <a target="_blank" href="{{ with .Site.Params.facebook }}{{ . }}{{ end }}"><img src="{{ .Site.BaseURL }}img/facebook.png" alt="Facebook"></a>
                    <a target="_blank" href="{{ with .Site.Params.pinterest }}{{ . }}{{ end }}"><img src="{{ .Site.BaseURL }}img/pinterest.png" alt="Pinterest"></a>
                    <a target="_blank" href="{{ with .Site.Params.instagram }}{{ . }}{{ end }}"><img src="{{ .Site.BaseURL }}img/instagram.png" alt="Instagram"></a>
                </div>
                <div class="lang">
                    <a href="{{ .Site.BaseURL }}">FR</a> / <a href="{{ .Site.BaseURL }}en">EN</a>
                </div>
            </div>
        </div>
    </div>
</header>
