{{ $url := .Site.BaseURL }}
{{ $images := .Params.images }}

<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
    <link href="{{ .Site.BaseURL }}css/jquery.excoloSlider.css" rel="stylesheet">
</head>
<body id="page-top" class="index">
<section id="main">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-right"><br><br><br>
                <h2 id="title" style="font-weight: 700;">{{ .Title }}</h2>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12 text-left">
                <p>{{ .Content }}</p>
            </div>
        </div>
    </div>
</section>

</body>
</html>